Dynamic Universal Database API.json
{
  "name": "Dynamic Database API",
  "nodes": [
    {
      "parameters": {
        "path": "db-read",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1e9f1a0b-1111-2222-3333-444455556666",
      "name": "GET /webhook/db-read",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.query.sheet }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2e9f1a0b-1111-2222-3333-444455556666",
      "name": "Read Any Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-write",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3e9f1a0b-1111-2222-3333-444455556666",
      "name": "POST /webhook/db-write",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    _action: item.json.body.action,\n    _sheet: item.json.body.sheet,\n    ...item.json.body.data\n  }\n}));"
      },
      "id": "8e9f1a0b-1111-2222-3333-444455556666",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json._action }}",
                    "value2": "insert"
                  }
                ]
              },
              "outputKey": "insert"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json._action }}",
                    "value2": "update"
                  }
                ]
              },
              "outputKey": "update"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json._action }}",
                    "value2": "delete"
                  }
                ]
              },
              "outputKey": "delete"
            }
          ]
        }
      },
      "id": "4e9f1a0b-1111-2222-3333-444455556666",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        550,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json._sheet }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "5e9f1a0b-1111-2222-3333-444455556666",
      "name": "Insert Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        250
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json._sheet }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "6e9f1a0b-1111-2222-3333-444455556666",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json._sheet }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7e9f1a0b-1111-2222-3333-444455556666",
      "name": "Delete Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        550
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "GET /webhook/db-read": {
      "main": [
        [
          {
            "node": "Read Any Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhook/db-write": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}