RoleBased Universal Workflow real.json
{
  "name": "Universal Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "settings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6b0502e1-8782-49d9-b7bf-4e059e1974ad",
      "name": "Webhook (POST Settings)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4384,
        1008
      ],
      "webhookId": "a3e7b740-8529-4d05-a6a0-135f3e24abc0"
    },
    {
      "parameters": {
        "path": "settings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "25c37d8d-f1d8-4d49-abda-01b995d78617",
      "name": "Webhook (GET Settings)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4384,
        816
      ],
      "webhookId": "01692a64-937b-40b7-95dc-e2f25a6a2514"
    },
    {
      "parameters": {
        "path": "stock",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5237d6c0-7ba0-4d6f-be41-a79d7a73cf1b",
      "name": "GET /stock",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3312,
        592
      ],
      "webhookId": "f1c0eb8c-c2db-4171-97e3-fa0badf9da92"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456998607,
          "mode": "list",
          "cachedResultName": "product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=1456998607"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ชื่อ": "="
          },
          "matchingColumns": [
            "ชื่อ"
          ],
          "schema": [
            {
              "id": "รหัส",
              "displayName": "รหัส",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อ",
              "displayName": "ชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อจำเพราะ",
              "displayName": "ชื่อจำเพราะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หน่วย",
              "displayName": "หน่วย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า",
              "displayName": "ประเภทสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า2",
              "displayName": "ประเภทสินค้า2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาซื้อ",
              "displayName": "ราคาซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาขาย",
              "displayName": "ราคาขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีซื้อ",
              "displayName": "อัตราภาษีซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีขาย",
              "displayName": "อัตราภาษีขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "บาร์โค๊ด",
              "displayName": "บาร์โค๊ด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ครีเวิด",
              "displayName": "ครีเวิด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จำกัดจำนวน",
              "displayName": "จำกัดจำนวน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แบรนด์",
              "displayName": "แบรนด์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "กลุ่มสินค้า",
              "displayName": "กลุ่มสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้แก้ไขล่าสุด",
              "displayName": "ผู้แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ1",
              "displayName": "หมายเหตุ1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ2",
              "displayName": "หมายเหตุ2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "614257b4-8808-4b10-bc18-03b74ddd0f17",
      "name": "Read Products",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3104,
        592
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "dashboard",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "59e7513a-c7ce-4a6d-ad95-c81d8c77e692",
      "name": "GET /dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3312,
        800
      ],
      "webhookId": "3c373a39-ddd9-49ee-9103-04aaf7323775"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "f47e5c98-c469-48c0-9076-412fa966a59e",
      "name": "Read Customers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3104,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "product",
          "mode": "name"
        },
        "options": {}
      },
      "id": "003f5217-ca71-41e6-922c-6b82791355f8",
      "name": "Read Products Dash",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2912,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst customers = $items(\"Read Customers\").length;\nconst products = $items(\"Read Products Dash\").length;\nreturn {\n  json: {\n    customers: customers,\n    products: products,\n    quotationsThisMonth: 0,\n    totalRevenue: 0,\n    recentQuotations: [],\n    lowStockProducts: []\n  }\n};"
      },
      "id": "1a8c6124-fec4-4568-ad68-922761160b77",
      "name": "Calculate Dashboard KPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "40793852-7297-4d7c-8220-012e28882123",
      "name": "POST /auth/login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3312,
        992
      ],
      "webhookId": "448bf917-9b79-4a96-b582-883d34943957"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 830073076,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=830073076"
        },
        "options": {}
      },
      "id": "8371f4bf-5c63-4c5e-8826-376028f6cae9",
      "name": "Read Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3104,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $items(\"POST /auth/login\")[0].json.body;\nconst users = $input.all().map(i => i.json);\nconst user = users.find(u => u.email === body.email && u.password === body.password);\nif(user) {\n  return { json: { success: true, user: { name: user.name, email: user.email, role: user.role } } };\n} else {\n  return { json: { success: false, message: 'อีเมลหรือรหัสผ่านไม่ถูกต้อง' } };\n}\n"
      },
      "id": "34fac8ba-f65b-4ac0-904d-4a7b20e32a4f",
      "name": "Check Login Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        992
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "970834e7-9bea-4159-9baa-20a6cc1c0380",
      "name": "POST /auth/register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3312,
        1200
      ],
      "webhookId": "cb417ca7-bfa2-41c8-88b8-0fd9ddda7038"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 830073076,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=830073076"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f59d68ec-5afd-4dc2-a4c9-4a22b9ba5cc3",
      "name": "Add User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3104,
        1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true } };"
      },
      "id": "3c6f55e1-9eb1-4b31-a7f0-0a3792280c1f",
      "name": "Register Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        1200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quotations",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c97cd315-d2b7-48c3-a31c-c3fb3ac11826",
      "name": "POST /quotations",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3312,
        1392
      ],
      "webhookId": "225f4c7a-0e68-4f54-abf4-645f5d9cf9af"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quotations",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$execution.id}}",
            "quotation_no": "={{$json.body.quotation_no}}",
            "date": "={{$json.body.date}}",
            "customer_name": "={{$json.body.customer.name}}",
            "total": "={{$json.body.total}}",
            "status": "Pending"
          }
        },
        "options": {}
      },
      "id": "6fd4d3d3-9635-4e66-b17a-8c31ccde076a",
      "name": "Add Quotation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3104,
        1392
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true } };"
      },
      "id": "b59f28fc-209e-48e6-b585-8cd451a41fc8",
      "name": "Quote Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        1392
      ]
    },
    {
      "parameters": {
        "path": "init-db",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "70606936-a9a2-4e97-bd13-b4bce3d7a0fa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3312,
        384
      ],
      "webhookId": "26c5390c-f5cb-47a6-85dc-cb9a98597691"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Users",
        "options": {}
      },
      "id": "d4d739eb-a96a-4331-a606-575d98930a2f",
      "name": "Create Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3104,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Quotations",
        "options": {}
      },
      "id": "7887fae2-25c3-4903-80ef-26ba511a1921",
      "name": "Create Quotations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2912,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Stock_Log",
        "options": {}
      },
      "id": "a6608bff-31c0-4ae5-a65c-30c4009616a8",
      "name": "Create Stock Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2704,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5ab36d95-49f5-48b2-806b-6cbc34ce23d9",
      "name": "Webhook (AI Assistant)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2448,
        608
      ],
      "webhookId": "ee7ef2c8-0a79-41ea-9caa-2a84b7cbd2c2",
      "notes": "รับ POST จากหน้าเว็บ React { prompt: '...' }"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือ AI Assistant ประจำระบบจัดการธุรกิจชื่อ SmartQuote\n\nคุณทำได้ทุกอย่างต่อไปนี้:\n1. ออกใบเสนอราคา (สร้าง/แก้ไขรายการสินค้า)\n2. จัดการฐานข้อมูลลูกค้า (เพิ่ม/ลบ/แก้ไข)\n3. จัดการฐานข้อมูลพนักงาน (เพิ่ม/ลบ/แก้ไข)\n4. จัดการสต็อกสินค้า (เพิ่ม/ตัด)\n5. ตอบคำถามทั่วไป\n\nกฎสำคัญ: ตอบกลับเป็น JSON เท่านั้น ห้ามมีข้อความอื่นนอก JSON block\n\nSchema ที่ต้องใช้:\n```json\n{\n  \"action\": \"quotation | database | stock | reply\",\n  \"message\": \"ข้อความสั้นๆ บอกผู้ใช้ว่าคุณทำอะไรไป\",\n  \"data\": {\n    // --- ถ้า action = quotation ---\n    \"customerInfo\": {\n      \"name\": \"ชื่อลูกค้า\",\n      \"taxId\": \"เลขภาษี (ถ้ามี)\",\n      \"address\": \"ที่อยู่ (ถ้ามี)\",\n      \"phone\": \"เบอร์โทร (ถ้ามี)\"\n    },\n    \"items\": [\n      { \"description\": \"ชื่อสินค้า/บริการ\", \"quantity\": 1, \"price\": 1000 }\n    ],\n\n    // --- ถ้า action = database ---\n    \"table\": \"customers | employees\",\n    \"operation\": \"add | update | delete\",\n    \"payload\": {\n      \"id\": \"รหัส (ถ้าแก้ไข/ลบ)\",\n      \"name\": \"ชื่อ\",\n      \"phone\": \"เบอร์โทร\",\n      \"email\": \"อีเมล\",\n      \"address\": \"ที่อยู่\",\n      \"taxId\": \"เลขภาษี\",\n      \"type\": \"Customer | Vendor\",\n      \"remark\": \"หมายเหตุ\"\n    },\n\n    // --- ถ้า action = stock ---\n    \"operation\": \"add | deduct\",\n    \"productName\": \"ชื่อสินค้า\",\n    \"amount\": 1,\n    \"unit\": \"หน่วย (ชิ้น/กล่อง/ชุด)\",\n    \"remark\": \"หมายเหตุ\"\n  }\n}\n```\n\nตัวอย่างการตีความ:\n- \"เพิ่มลูกค้าชื่อ สมชาย เบอร์ 081-xxx\" → action=database, table=customers, operation=add\n- \"ลบลูกค้าชื่อ บริษัท A\" → action=database, table=customers, operation=delete\n- \"แก้ไขชื่อพนักงาน สมหญิง เป็น สมศรี\" → action=database, table=employees, operation=update\n- \"ตัดสต็อก iPhone 15 จำนวน 5 เครื่อง\" → action=stock, operation=deduct\n- \"เพิ่มสต็อกสินค้า\" → action=stock, operation=add\n- \"สร้างใบเสนอราคา\" → action=quotation\n\nคำสั่งจากผู้ใช้: {{ $json.body.prompt }}"
      },
      "id": "35da8e28-7eb9-4a67-a172-3ab0cfdba2ab",
      "name": "Basic LLM Chain (Gemini)1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -2240,
        608
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ce044eb5-5def-4c74-9c89-32f0ce1c341b",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2240,
        784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5QJxUPfc6K9diAWL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "ใส่ Credential: สร้าง Google Gemini API ใหม่ แล้ววาง API Key (AQ... หรือ AIza...)"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON output จาก Gemini\ntry {\n  let raw = $input.item.json.text || $input.item.json.output || '';\n  // ลบ markdown code block ออก\n  raw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(raw);\n  return { json: parsed };\n} catch (e) {\n  return {\n    json: {\n      action: 'reply',\n      message: 'ขออภัยครับ ผมไม่สามารถประมวลผลคำสั่งได้ในตอนนี้ กรุณาลองใหม่อีกครั้ง',\n      data: null\n    }\n  };\n}"
      },
      "id": "548af8c5-e255-4785-999e-317b38b7c552",
      "name": "Parse AI Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        608
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "quotation"
            },
            {
              "value2": "database",
              "output": 1
            },
            {
              "value2": "stock",
              "output": 2
            },
            {
              "value2": "reply",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "aa6c4530-ea26-41f3-b4bc-d45612b0203a",
      "name": "Router (Action Type)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1728,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// สร้าง Response สำหรับ Quotation\n// ส่งข้อมูลกลับตรงๆ ไปหน้าเว็บได้เลย\nconst payload = $input.item.json;\nreturn {\n  json: {\n    action: 'quotation',\n    message: payload.message || 'ร่างใบเสนอราคาให้คุณเรียบร้อยแล้วครับ ✅',\n    data: payload.data || {}\n  }\n};"
      },
      "id": "36c54eb6-d411-4ecf-a338-f46b1eaec586",
      "name": "Respond: Quotation1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        320
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.operation }}",
        "rules": {
          "rules": [
            {
              "value2": "add"
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "1a09b0e1-da6a-4be8-b465-e5b55980537f",
      "name": "Router (DB Operation)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1488,
        560
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a92a5313-a944-4398-af37-9372a8392ab1",
      "name": "Sheets: Add Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1248,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "เพิ่มแถวใหม่ในชีตลูกค้าหรือพนักงาน (ตาม table ที่ AI ระบุ)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "ชื่อลูกค้า/ผู้ขาย"
          ],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2f705d4d-c804-408b-a17e-1076692b42ba",
      "name": "Sheets: Update Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1248,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "อัปเดตแถวที่ตรงกับรหัส ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "259fe437-5783-48d0-8f62-46507c5d9930",
      "name": "Sheets: Delete Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1248,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "ลบแถวที่ตรงกับชื่อ (ควรเพิ่มการยืนยันก่อนลบในงานจริง)"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.operation }}",
        "rules": {
          "rules": [
            {
              "value2": "add"
            },
            {
              "value2": "deduct",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "e21768aa-1741-4245-82f4-4c534721b589",
      "name": "Router (Stock Operation)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1488,
        800
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456998607,
          "mode": "list",
          "cachedResultName": "product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=1456998607"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "รหัส"
          ],
          "schema": [
            {
              "id": "รหัส",
              "displayName": "รหัส",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อ",
              "displayName": "ชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อจำเพราะ",
              "displayName": "ชื่อจำเพราะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หน่วย",
              "displayName": "หน่วย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า",
              "displayName": "ประเภทสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า2",
              "displayName": "ประเภทสินค้า2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาซื้อ",
              "displayName": "ราคาซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาขาย",
              "displayName": "ราคาขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีซื้อ",
              "displayName": "อัตราภาษีซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีขาย",
              "displayName": "อัตราภาษีขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "บาร์โค๊ด",
              "displayName": "บาร์โค๊ด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ครีเวิด",
              "displayName": "ครีเวิด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จำกัดจำนวน",
              "displayName": "จำกัดจำนวน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แบรนด์",
              "displayName": "แบรนด์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "กลุ่มสินค้า",
              "displayName": "กลุ่มสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้แก้ไขล่าสุด",
              "displayName": "ผู้แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ1",
              "displayName": "หมายเหตุ1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ2",
              "displayName": "หมายเหตุ2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d6555a22-be5b-4980-8747-e0630fb70d1c",
      "name": "Sheets: Add Stock1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1248,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "เพิ่มสต็อก - ปรับชื่อคอลัมน์ให้ตรงกับชีตสินค้าของคุณ"
    },
    {
      "parameters": {
        "jsCode": "// ตัดสต็อก — อ่านค่าเดิม แล้วลบออก\n// หมายเหตุ: ในงานจริงต้องอ่านค่าปัจจุบันก่อน แล้วค่อยคำนวณ\n// นี่เป็น Logic ตัวอย่าง สามารถปรับให้ Read ก่อน Update ได้\nconst productName = $json.data.productName;\nconst amount = $json.data.amount;\nreturn {\n  json: {\n    ...$json,\n    deductInfo: {\n      productName,\n      amount,\n      note: `ตัดสต็อก ${amount} ${$json.data.unit || 'ชิ้น'} เมื่อ ${new Date().toLocaleString('th-TH')}`\n    }\n  }\n};"
      },
      "id": "a045694d-3337-4153-aaf2-11f31bde64fd",
      "name": "Prepare Deduct1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// รวม response จากทุก branch กลับมาเป็น format เดียวกัน\n// และส่งกลับไปหน้าเว็บ React\nconst input = $input.item.json;\n\n// ถ้ามาจาก Google Sheets node จะมี updatedRows หรือ appendedRow\nconst originalAction = input.action || 'database';\nconst originalMsg = input.message || 'ดำเนินการเรียบร้อยแล้วครับ ✅';\n\nreturn {\n  json: {\n    action: originalAction,\n    message: originalMsg,\n    data: input.data || null\n  }\n};"
      },
      "id": "7b78cb65-e1e7-4b84-9c0d-80f812e6526b",
      "name": "Respond: Database/Stock1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// ตอบกลับข้อความทั่วไป\nreturn {\n  json: {\n    action: 'reply',\n    message: $input.item.json.message || 'มีอะไรให้ผมช่วยไหมครับ?',\n    data: null\n  }\n};"
      },
      "id": "b0c94c44-470d-41b3-a31d-ec5a92e0a992",
      "name": "Respond: Reply1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        1248
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "585285af-510c-4425-9fc9-0de3cbb62ae0",
      "name": "Send Response to React1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -672,
        576
      ]
    },
    {
      "parameters": {
        "path": "project",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "f4bc9dba-8a23-4c0a-abc6-421848848f5a",
      "name": "Webhook (GET database)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4384,
        1216
      ],
      "webhookId": "84d9b089-22d0-4d17-b1d9-e8a48e34ae7d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "id": "2bea9513-311c-4b5d-98ee-7ba8732eb721",
      "name": "Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4192,
        1216
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "startIndex": "={{ $json.body.data.rowNumber }}"
      },
      "id": "748a72d0-1a89-4f6a-807d-629bd0d9f81d",
      "name": "ลบข้อมูล (Delete Row)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3936,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "database-action",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "04dd32b6-ad9f-446e-9c51-924c5c1ddf4d",
      "name": "Webhook (แก้ไขข้อมูล Customer)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4384,
        576
      ],
      "webhookId": "a148f252-df0c-4a9f-ab7c-067eb6d95b6f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "update"
            },
            {
              "value2": "delete",
              "output": 1
            }
          ]
        }
      },
      "id": "01f0e900-fedd-4ba7-ac0b-45406812c1f8",
      "name": "(Update/Delete)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -4192,
        544
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสลูกค้า/ผู้ขาย": "={{ $json.body.data.id }}",
            "ชื่อลูกค้า/ผู้ขาย": "={{ $json.body.data.name }}",
            "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย": "={{ $json.body.data.taxId }}",
            "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย": "={{ $json.body.data.type }}",
            "ผู้ติดต่อ": "={{ $json.body.data.contact }}",
            "โทรศัพท์": "={{ $json.body.data.phone }}",
            "อีเมล": "={{ $json.body.data.email }}",
            "ที่อยู่ 1": "={{ $json.body.data.address }}",
            "อำเภอ": "={{ $json.body.data.district }}",
            "จังหวัด": "={{ $json.body.data.province }}",
            "เครดิต (วัน)": "={{ $json.body.data.credit }}",
            "วงเงิน": "={{ $json.body.data.limit }}",
            "หมายเหตุ": "={{ $json.body.data.remark }}"
          },
          "matchingColumns": [
            "รหัสลูกค้า/ผู้ขาย"
          ],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "da64ef0a-1188-4c37-8f59-9b8296d8d14c",
      "name": "อัปเดตข้อมูล (แก้ไข)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3936,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit?gid=1837646820#gid=1837646820",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940827542,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=940827542"
        },
        "options": {}
      },
      "id": "46170bf2-a16e-4a64-a458-cfdfe158732f",
      "name": "ดึงข้อมูลการตั้งค่า",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4192,
        816
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit?gid=1837646820#gid=1837646820",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940827542,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=940827542"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "1",
            "Company Name": "={{ $json.body.companyName }}",
            "Tax ID": "={{ $json.body.companyTaxId }}",
            "Address": "={{ $json.body.companyAddress }}",
            "Phone": "={{ $json.body.companyPhone }}",
            "Logo URL": "={{ $json.body.companyLogo }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo URL",
              "displayName": "Logo URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ac7ba49d-8608-41f9-b8b1-025d0e34ae8c",
      "name": "อัปเดตการตั้งค่า",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4192,
        1008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "db-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1671b8c-8265-4c76-9f92-f740259f2ca5",
      "name": "GET /webhook/db-read",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        1104
      ],
      "webhookId": "3c978f78-b80b-4aa8-ab3e-4f4c5b4fea11"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.query.sheet }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "bede1c55-8f13-42c1-814f-a537b1b316ff",
      "name": "Read Any Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -48,
        1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-write",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "6c13c574-dc60-4b23-a8ac-b0dd326f7276",
      "name": "POST /webhook/db-write",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        1296
      ],
      "webhookId": "0608d664-4f38-4d4b-a454-bb67bd75c8dc"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    _action: item.json.body.action,\n    _sheet: item.json.body.sheet,\n    ...item.json.body.data\n  }\n}));"
      },
      "id": "09dfb0ef-85cd-480a-9280-7355bf3b518d",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1296
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "insert",
              "output": 0,
              "operation": "equal"
            },
            {
              "value2": "update",
              "output": 1,
              "operation": "equal"
            },
            {
              "value2": "delete",
              "output": 2,
              "operation": "equal"
            }
          ]
        }
      },
      "id": "a6a5f07b-d7e9-43ee-87e5-22e95f49aa0e",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        112,
        1296
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Extract Data').item.json[\"_sheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "2c47931a-4d67-42f1-8746-968feb5368a0",
      "name": "Insert Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        368,
        1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Extract Data').item.json[\"_sheet\"] }}",
          "mode": "name"
        },
        "columns": "={{ { mappingMode: 'autoMapInputData', matchingColumns: [ $('Extract Data').item.json['_idKey'] ] } }}",
        "options": {}
      },
      "id": "6d47bbf8-0499-4208-bff5-2071e79236dc",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        368,
        1296
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Extract Data').item.json[\"_sheet\"] }}",
          "mode": "name"
        },
        "startIndex": "={{ $('Extract Data').item.json['_rawRowNumber'] }}"
      },
      "id": "1f39271b-d9de-4510-bfaf-462818a4fb20",
      "name": "Delete Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        368,
        1456
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        1104
      ],
      "id": "9c3a6ce2-956c-4a34-91e8-18ae56b8932b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  delete item.json._action;\n  delete item.json._sheet;\n  delete item.json._idKey;\n  delete item.json._rawRowNumber;\n}\nreturn $input.all();"
      },
      "id": "clean-data-node",
      "name": "Clean Insert Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  delete item.json._action;\n  delete item.json._sheet;\n  delete item.json._idKey;\n  delete item.json._rawRowNumber;\n}\nreturn $input.all();"
      },
      "id": "clean-update-data-node",
      "name": "Clean Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1500
      ]
    }
  ],
  "pinData": {
    "POST /auth/login": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "49",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"8\", \"Chromium\";v=\"150\", \"Brave\";v=\"150\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "en-US,en;q=0.5",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "admin@admin.com",
            "password": "admin123"
          },
          "webhookUrl": "http://localhost:5678/webhook/auth/login",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook (GET Settings)": {
      "main": [
        [
          {
            "node": "ดึงข้อมูลการตั้งค่า",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST Settings)": {
      "main": [
        [
          {
            "node": "อัปเดตการตั้งค่า",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /stock": {
      "main": [
        [
          {
            "node": "Read Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /dashboard": {
      "main": [
        [
          {
            "node": "Read Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Customers": {
      "main": [
        [
          {
            "node": "Read Products Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Products Dash": {
      "main": [
        [
          {
            "node": "Calculate Dashboard KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /auth/login": {
      "main": [
        [
          {
            "node": "Read Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users": {
      "main": [
        [
          {
            "node": "Check Login Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /auth/register": {
      "main": [
        [
          {
            "node": "Add User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add User": {
      "main": [
        [
          {
            "node": "Register Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /quotations": {
      "main": [
        [
          {
            "node": "Add Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Quotation": {
      "main": [
        [
          {
            "node": "Quote Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Users": {
      "main": [
        [
          {
            "node": "Create Quotations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quotations": {
      "main": [
        [
          {
            "node": "Create Stock Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (AI Assistant)1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain (Gemini)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain (Gemini)1": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain (Gemini)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "Router (Action Type)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Action Type)1": {
      "main": [
        [
          {
            "node": "Respond: Quotation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router (DB Operation)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router (Stock Operation)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Quotation1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (DB Operation)1": {
      "main": [
        [
          {
            "node": "Sheets: Add Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Update Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Delete Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Add Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Update Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Delete Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Stock Operation)1": {
      "main": [
        [
          {
            "node": "Sheets: Add Stock1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Deduct1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Add Stock1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deduct1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Database/Stock1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Reply1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (GET database)": {
      "main": [
        [
          {
            "node": "Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (แก้ไขข้อมูล Customer)": {
      "main": [
        [
          {
            "node": "(Update/Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Update/Delete)": {
      "main": [
        [
          {
            "node": "อัปเดตข้อมูล (แก้ไข)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ลบข้อมูล (Delete Row)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /webhook/db-read": {
      "main": [
        [
          {
            "node": "Read Any Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhook/db-write": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Clean Insert Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Update Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Any Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Insert Data": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Update Data": {
      "main": [
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a34352c8-15bd-4136-994d-4a717bb032c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113"
  },
  "nodeGroups": [],
  "id": "shNTI85HmBckqr22",
  "tags": []
}