n8n/Universal Workflow.json
{
  "id": "OKcPplQvuwPnVQzy",
  "name": "Universal Workflow",
  "active": 1,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "settings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3f29bb99-bda3-4a6e-8c3f-cf6211249848",
      "name": "Webhook (POST Settings)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2896,
        688
      ],
      "webhookId": "a3e7b740-8529-4d05-a6a0-135f3e24abc0"
    },
    {
      "parameters": {
        "path": "settings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d472db9c-df1f-4cd3-94cb-e46a51558584",
      "name": "Webhook (GET Settings)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2896,
        496
      ],
      "webhookId": "01692a64-937b-40b7-95dc-e2f25a6a2514"
    },
    {
      "parameters": {
        "path": "stock",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "bf68ceb7-f4a3-4733-a2b8-126eb6636959",
      "name": "GET /stock",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        272
      ],
      "webhookId": "f1c0eb8c-c2db-4171-97e3-fa0badf9da92"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456998607,
          "mode": "list",
          "cachedResultName": "product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=1456998607"
        },
        "options": {}
      },
      "id": "ba32571a-f3ee-4321-bd50-0e43ae4e5e73",
      "name": "Read Products",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1616,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "dashboard",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c5c27072-b916-44ab-9240-59658d3e6511",
      "name": "GET /dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        480
      ],
      "webhookId": "3c373a39-ddd9-49ee-9103-04aaf7323775"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "7d03e1a7-4e3e-4fed-8eee-0c6470a5da34",
      "name": "Read Customers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1616,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "product",
          "mode": "name"
        },
        "options": {}
      },
      "id": "0772eae4-630d-48c6-be69-e9d07863f20b",
      "name": "Read Products Dash",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1424,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst customers = $items(\"Read Customers\").length;\nconst products = $items(\"Read Products Dash\").length;\nreturn {\n  json: {\n    customers: customers,\n    products: products,\n    quotationsThisMonth: 0,\n    totalRevenue: 0,\n    recentQuotations: [],\n    lowStockProducts: []\n  }\n};"
      },
      "id": "90fb9809-9785-48d8-8d4b-4acbffc76460",
      "name": "Calculate Dashboard KPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "052b3cac-d37b-4863-8101-51226a1a0c27",
      "name": "POST /auth/login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        672
      ],
      "webhookId": "448bf917-9b79-4a96-b582-883d34943957"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 830073076,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=830073076"
        },
        "options": {}
      },
      "id": "430e3622-9a32-4b3c-b3bd-09e8f617b40f",
      "name": "Read Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1616,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $items(\"POST /auth/login\")[0].json.body;\nconst users = $input.all().map(i => i.json);\nconst user = users.find(u => u.email === body.email && u.password === body.password);\nif(user) {\n  return { json: { success: true, user: { name: user.name, email: user.email, role: user.role } } };\n} else {\n  return { json: { success: false, message: 'อีเมลหรือรหัสผ่านไม่ถูกต้อง' } };\n}\n"
      },
      "id": "69a9e162-d5a5-4e14-be6e-0c029a8b6aa2",
      "name": "Check Login Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        672
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "555c4cf5-5445-4e3d-b039-4a625ddd559c",
      "name": "POST /auth/register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        880
      ],
      "webhookId": "cb417ca7-bfa2-41c8-88b8-0fd9ddda7038"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 830073076,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=830073076"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id || $execution.id }}",
            "name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "password": "={{ $json.body.password }}",
            "role": "={{ $json.body.role }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "157cbe9e-62da-47e3-be6f-95aa1fcffde5",
      "name": "Add User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1616,
        880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true } };"
      },
      "id": "8be62fad-6cad-48b1-b348-39644aaf21dd",
      "name": "Register Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quotations",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5d7a0fc9-dbba-4f96-b30e-e55ab7791c2d",
      "name": "POST /quotations",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        1072
      ],
      "webhookId": "225f4c7a-0e68-4f54-abf4-645f5d9cf9af"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quotations",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$execution.id}}",
            "quotation_no": "={{$json.body.quotation_no}}",
            "date": "={{$json.body.date}}",
            "customer_name": "={{$json.body.customer.name}}",
            "total": "={{$json.body.total}}",
            "status": "Pending"
          }
        },
        "options": {}
      },
      "id": "933d2a0b-3545-4d60-9c5c-fbc8305b590f",
      "name": "Add Quotation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1616,
        1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true } };"
      },
      "id": "f2583193-42d4-4de0-bd10-7ee6347a6ef3",
      "name": "Quote Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        1072
      ]
    },
    {
      "parameters": {
        "path": "init-db",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a5283201-f21c-43e6-a2bb-bfe5f462fe69",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1824,
        64
      ],
      "webhookId": "26c5390c-f5cb-47a6-85dc-cb9a98597691"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Users",
        "options": {}
      },
      "id": "a2dacf86-2a03-40ce-af99-8549101fbdb5",
      "name": "Create Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1616,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Quotations",
        "options": {}
      },
      "id": "050ff7a6-b12c-40fa-906d-dd97b10d9b0c",
      "name": "Create Quotations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1424,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Stock_Log",
        "options": {}
      },
      "id": "bd9c2c0a-cfad-482b-a871-2ee39d143f67",
      "name": "Create Stock Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1216,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4a1aeb5e-50f7-4d16-a830-bd06129f83a1",
      "name": "Webhook (AI Assistant)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -960,
        288
      ],
      "webhookId": "ee7ef2c8-0a79-41ea-9caa-2a84b7cbd2c2",
      "notes": "รับ POST จากหน้าเว็บ React { prompt: '...' }"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือ AI Assistant ประจำระบบจัดการธุรกิจชื่อ SmartQuote\n\nคุณทำได้ทุกอย่างต่อไปนี้:\n1. ออกใบเสนอราคา (สร้าง/แก้ไขรายการสินค้า)\n2. จัดการฐานข้อมูลลูกค้า (เพิ่ม/ลบ/แก้ไข)\n3. จัดการฐานข้อมูลพนักงาน (เพิ่ม/ลบ/แก้ไข)\n4. จัดการสต็อกสินค้า (เพิ่ม/ตัด)\n5. ตอบคำถามทั่วไป\n\nกฎสำคัญ: ตอบกลับเป็น JSON เท่านั้น ห้ามมีข้อความอื่นนอก JSON block\n\nSchema ที่ต้องใช้:\n```json\n{\n  \"action\": \"quotation | database | stock | reply\",\n  \"message\": \"ข้อความสั้นๆ บอกผู้ใช้ว่าคุณทำอะไรไป\",\n  \"data\": {\n    // --- ถ้า action = quotation ---\n    \"customerInfo\": {\n      \"name\": \"ชื่อลูกค้า\",\n      \"taxId\": \"เลขภาษี (ถ้ามี)\",\n      \"address\": \"ที่อยู่ (ถ้ามี)\",\n      \"phone\": \"เบอร์โทร (ถ้ามี)\"\n    },\n    \"items\": [\n      { \"description\": \"ชื่อสินค้า/บริการ\", \"quantity\": 1, \"price\": 1000 }\n    ],\n\n    // --- ถ้า action = database ---\n    \"table\": \"customers | employees\",\n    \"operation\": \"add | update | delete\",\n    \"payload\": {\n      \"id\": \"รหัส (ถ้าแก้ไข/ลบ)\",\n      \"name\": \"ชื่อ\",\n      \"phone\": \"เบอร์โทร\",\n      \"email\": \"อีเมล\",\n      \"address\": \"ที่อยู่\",\n      \"taxId\": \"เลขภาษี\",\n      \"type\": \"Customer | Vendor\",\n      \"remark\": \"หมายเหตุ\"\n    },\n\n    // --- ถ้า action = stock ---\n    \"operation\": \"add | deduct\",\n    \"productName\": \"ชื่อสินค้า\",\n    \"amount\": 1,\n    \"unit\": \"หน่วย (ชิ้น/กล่อง/ชุด)\",\n    \"remark\": \"หมายเหตุ\"\n  }\n}\n```\n\nตัวอย่างการตีความ:\n- \"เพิ่มลูกค้าชื่อ สมชาย เบอร์ 081-xxx\" → action=database, table=customers, operation=add\n- \"ลบลูกค้าชื่อ บริษัท A\" → action=database, table=customers, operation=delete\n- \"แก้ไขชื่อพนักงาน สมหญิง เป็น สมศรี\" → action=database, table=employees, operation=update\n- \"ตัดสต็อก iPhone 15 จำนวน 5 เครื่อง\" → action=stock, operation=deduct\n- \"เพิ่มสต็อกสินค้า\" → action=stock, operation=add\n- \"สร้างใบเสนอราคา\" → action=quotation\n\nคำสั่งจากผู้ใช้: {{ $json.body.prompt }}"
      },
      "id": "1f091d8b-0332-40e5-90c0-b54107451e2a",
      "name": "Basic LLM Chain (Gemini)1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -752,
        288
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "04f9858c-5d48-461e-b4f0-843afb51efc0",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -752,
        464
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5QJxUPfc6K9diAWL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "ใส่ Credential: สร้าง Google Gemini API ใหม่ แล้ววาง API Key (AQ... หรือ AIza...)"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON output จาก Gemini\ntry {\n  let raw = $input.item.json.text || $input.item.json.output || '';\n  // ลบ markdown code block ออก\n  raw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(raw);\n  return { json: parsed };\n} catch (e) {\n  return {\n    json: {\n      action: 'reply',\n      message: 'ขออภัยครับ ผมไม่สามารถประมวลผลคำสั่งได้ในตอนนี้ กรุณาลองใหม่อีกครั้ง',\n      data: null\n    }\n  };\n}"
      },
      "id": "b0622efd-42a6-4af6-9244-5c2789cf286a",
      "name": "Parse AI Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        288
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "quotation"
            },
            {
              "value2": "database",
              "output": 1
            },
            {
              "value2": "stock",
              "output": 2
            },
            {
              "value2": "reply",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "1fd4a6c5-e675-40e4-8256-4cd602e50cd6",
      "name": "Router (Action Type)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -240,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// สร้าง Response สำหรับ Quotation\n// ส่งข้อมูลกลับตรงๆ ไปหน้าเว็บได้เลย\nconst payload = $input.item.json;\nreturn {\n  json: {\n    action: 'quotation',\n    message: payload.message || 'ร่างใบเสนอราคาให้คุณเรียบร้อยแล้วครับ ✅',\n    data: payload.data || {}\n  }\n};"
      },
      "id": "437cab78-d182-4240-ac92-539b77ab2621",
      "name": "Respond: Quotation1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.operation }}",
        "rules": {
          "rules": [
            {
              "value2": "add"
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "b50575e9-9938-4e66-ba8c-c97808b132ce",
      "name": "Router (DB Operation)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "14a5f1aa-cd2a-4ae4-abd9-0fe32b57c2e3",
      "name": "Sheets: Add Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "เพิ่มแถวใหม่ในชีตลูกค้าหรือพนักงาน (ตาม table ที่ AI ระบุ)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "ชื่อลูกค้า/ผู้ขาย"
          ],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "318fb113-cc22-4f40-865f-8766dcd58e97",
      "name": "Sheets: Update Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "อัปเดตแถวที่ตรงกับรหัส ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "822f4291-d5ee-4513-9c13-c1efd78883f3",
      "name": "Sheets: Delete Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "ลบแถวที่ตรงกับชื่อ (ควรเพิ่มการยืนยันก่อนลบในงานจริง)"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.operation }}",
        "rules": {
          "rules": [
            {
              "value2": "add"
            },
            {
              "value2": "deduct",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "54e80d67-b659-4462-af92-0a30b79c1004",
      "name": "Router (Stock Operation)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456998607,
          "mode": "list",
          "cachedResultName": "product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=1456998607"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "รหัส"
          ],
          "schema": [
            {
              "id": "รหัส",
              "displayName": "รหัส",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อ",
              "displayName": "ชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อจำเพราะ",
              "displayName": "ชื่อจำเพราะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หน่วย",
              "displayName": "หน่วย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า",
              "displayName": "ประเภทสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า2",
              "displayName": "ประเภทสินค้า2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาซื้อ",
              "displayName": "ราคาซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาขาย",
              "displayName": "ราคาขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีซื้อ",
              "displayName": "อัตราภาษีซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีขาย",
              "displayName": "อัตราภาษีขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "บาร์โค๊ด",
              "displayName": "บาร์โค๊ด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ครีเวิด",
              "displayName": "ครีเวิด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จำกัดจำนวน",
              "displayName": "จำกัดจำนวน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แบรนด์",
              "displayName": "แบรนด์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "กลุ่มสินค้า",
              "displayName": "กลุ่มสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้แก้ไขล่าสุด",
              "displayName": "ผู้แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ1",
              "displayName": "หมายเหตุ1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ2",
              "displayName": "หมายเหตุ2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "818aaf27-fbf9-4436-8a1b-6aebec9faa5a",
      "name": "Sheets: Add Stock1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        592
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "เพิ่มสต็อก - ปรับชื่อคอลัมน์ให้ตรงกับชีตสินค้าของคุณ"
    },
    {
      "parameters": {
        "jsCode": "// ตัดสต็อก — อ่านค่าเดิม แล้วลบออก\n// หมายเหตุ: ในงานจริงต้องอ่านค่าปัจจุบันก่อน แล้วค่อยคำนวณ\n// นี่เป็น Logic ตัวอย่าง สามารถปรับให้ Read ก่อน Update ได้\nconst productName = $json.data.productName;\nconst amount = $json.data.amount;\nreturn {\n  json: {\n    ...$json,\n    deductInfo: {\n      productName,\n      amount,\n      note: `ตัดสต็อก ${amount} ${$json.data.unit || 'ชิ้น'} เมื่อ ${new Date().toLocaleString('th-TH')}`\n    }\n  }\n};"
      },
      "id": "ada4066c-cb93-439a-985e-38161ae42330",
      "name": "Prepare Deduct1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// รวม response จากทุก branch กลับมาเป็น format เดียวกัน\n// และส่งกลับไปหน้าเว็บ React\nconst input = $input.item.json;\n\n// ถ้ามาจาก Google Sheets node จะมี updatedRows หรือ appendedRow\nconst originalAction = input.action || 'database';\nconst originalMsg = input.message || 'ดำเนินการเรียบร้อยแล้วครับ ✅';\n\nreturn {\n  json: {\n    action: originalAction,\n    message: originalMsg,\n    data: input.data || null\n  }\n};"
      },
      "id": "68cb7b83-079d-4592-a495-f805940c7a9c",
      "name": "Respond: Database/Stock1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// ตอบกลับข้อความทั่วไป\nreturn {\n  json: {\n    action: 'reply',\n    message: $input.item.json.message || 'มีอะไรให้ผมช่วยไหมครับ?',\n    data: null\n  }\n};"
      },
      "id": "b17530c4-02a9-4ca9-adf3-dc4f95d4f6d7",
      "name": "Respond: Reply1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        928
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7e533d3e-0d8e-4eb1-80d3-6266247dd773",
      "name": "Send Response to React1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        816,
        256
      ]
    },
    {
      "parameters": {
        "path": "project",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "07c55ee5-2080-4665-b194-ee091b5649c6",
      "name": "Webhook (GET database)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2896,
        896
      ],
      "webhookId": "84d9b089-22d0-4d17-b1d9-e8a48e34ae7d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "id": "7f3d16d4-fc7d-4786-9544-0d01bd507b79",
      "name": "Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2704,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "startIndex": "={{ $json.body.data.rowNumber }}"
      },
      "id": "dd2451fa-23c2-4dec-8768-c2c8fdf87102",
      "name": "ลบข้อมูล (Delete Row)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2448,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "database-action",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "edd72309-0207-4739-89f7-49f2345a8c6a",
      "name": "Webhook (แก้ไขข้อมูล Customer)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2896,
        272
      ],
      "webhookId": "a148f252-df0c-4a9f-ab7c-067eb6d95b6f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "update"
            },
            {
              "value2": "delete",
              "output": 1
            }
          ]
        }
      },
      "id": "8f2280ad-9a79-4f00-80a5-de7a8a08c2ce",
      "name": "(Update/Delete)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2704,
        240
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสลูกค้า/ผู้ขาย": "={{ $json.body.data.id }}",
            "ชื่อลูกค้า/ผู้ขาย": "={{ $json.body.data.name }}",
            "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย": "={{ $json.body.data.taxId }}",
            "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย": "={{ $json.body.data.type }}",
            "ผู้ติดต่อ": "={{ $json.body.data.contact }}",
            "โทรศัพท์": "={{ $json.body.data.phone }}",
            "อีเมล": "={{ $json.body.data.email }}",
            "ที่อยู่ 1": "={{ $json.body.data.address }}",
            "อำเภอ": "={{ $json.body.data.district }}",
            "จังหวัด": "={{ $json.body.data.province }}",
            "เครดิต (วัน)": "={{ $json.body.data.credit }}",
            "วงเงิน": "={{ $json.body.data.limit }}",
            "หมายเหตุ": "={{ $json.body.data.remark }}"
          },
          "matchingColumns": [
            "รหัสลูกค้า/ผู้ขาย"
          ],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2c133213-1acb-441e-b06a-9149908f229f",
      "name": "อัปเดตข้อมูล (แก้ไข)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2448,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit?gid=1837646820#gid=1837646820",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940827542,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=940827542"
        },
        "options": {}
      },
      "id": "589cfd6f-5e47-4925-bec9-c12d4d6e8d66",
      "name": "ดึงข้อมูลการตั้งค่า",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2704,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit?gid=1837646820#gid=1837646820",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940827542,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=940827542"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "1",
            "Company Name": "={{ $json.body.companyName }}",
            "Tax ID": "={{ $json.body.companyTaxId }}",
            "Address": "={{ $json.body.companyAddress }}",
            "Phone": "={{ $json.body.companyPhone }}",
            "Logo URL": "={{ $json.body.companyLogo }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo URL",
              "displayName": "Logo URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de8cfa7f-3741-47bb-affa-6f427e82f802",
      "name": "อัปเดตการตั้งค่า",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2704,
        688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "db-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "29a0c18e-a4b9-4a84-87f5-502de4e46ccd",
      "name": "GET /webhook/db-read",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2896,
        1104
      ],
      "webhookId": "3c978f78-b80b-4aa8-ab3e-4f4c5b4fea11"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.query.sheet }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "28b60438-148e-4c0b-bef3-57cbf332351b",
      "name": "Read Any Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2688,
        1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-write",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a93895a8-7637-4c61-bbde-d219e6e7ba16",
      "name": "POST /webhook/db-write",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2896,
        1296
      ],
      "webhookId": "0608d664-4f38-4d4b-a454-bb67bd75c8dc"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const body = item.json.body;\n  const cleanData = { ...body.data };\n  delete cleanData._rawRowNumber;\n  return {\n    json: {\n      _action: body.action,\n      _sheet: body.sheet,\n      _idKey: body.idKey || 'id',\n      ...cleanData\n    }\n  };\n});"
      },
      "id": "3220dcd7-bc00-45e0-b480-c3463f029493",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        1296
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"_action\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "insert"
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        }
      },
      "id": "7c512c16-1910-4394-81cb-2a8f82d00550",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2528,
        1296
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"_sheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "55d94997-507c-470a-9fc8-366a879ba26a",
      "name": "Insert Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2272,
        1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"_sheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "={{ $json[\"_idKey\"] }}"
          ],
          "schema": [
            {
              "id": "={{ $json[\"_idKey\"] }}",
              "displayName": "={{ $json[\"_idKey\"] }}",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c8ee75c2-1ae1-4676-83dd-5db0538c18cd",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2272,
        1296
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"_sheet\"] }}",
          "mode": "name"
        },
        "startIndex": "={{ $json[\"row_number\"] }}"
      },
      "id": "65064e99-e026-42d7-a779-8d41c403692d",
      "name": "Delete Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2272,
        1456
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2480,
        1104
      ],
      "id": "c21be855-9be8-4800-b021-dd848b56bb26",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2fa9b2e-0d24-44e1-b051-4afd7001e599",
      "name": "Respond Insert",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2032,
        1152
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d911ca62-2917-4ca5-8692-e54fa1258cca",
      "name": "Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2032,
        1296
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d87c5396-e958-44a6-a9b0-175b59c5f4fd",
      "name": "Respond Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2032,
        1456
      ]
    }
  ],
  "connections": {
    "Webhook (GET Settings)": {
      "main": [
        [
          {
            "node": "ดึงข้อมูลการตั้งค่า",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST Settings)": {
      "main": [
        [
          {
            "node": "อัปเดตการตั้งค่า",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /stock": {
      "main": [
        [
          {
            "node": "Read Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /dashboard": {
      "main": [
        [
          {
            "node": "Read Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Customers": {
      "main": [
        [
          {
            "node": "Read Products Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Products Dash": {
      "main": [
        [
          {
            "node": "Calculate Dashboard KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /auth/login": {
      "main": [
        [
          {
            "node": "Read Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users": {
      "main": [
        [
          {
            "node": "Check Login Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /auth/register": {
      "main": [
        [
          {
            "node": "Add User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add User": {
      "main": [
        [
          {
            "node": "Register Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /quotations": {
      "main": [
        [
          {
            "node": "Add Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Quotation": {
      "main": [
        [
          {
            "node": "Quote Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Users": {
      "main": [
        [
          {
            "node": "Create Quotations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quotations": {
      "main": [
        [
          {
            "node": "Create Stock Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (AI Assistant)1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain (Gemini)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain (Gemini)1": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain (Gemini)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "Router (Action Type)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Action Type)1": {
      "main": [
        [
          {
            "node": "Respond: Quotation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router (DB Operation)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router (Stock Operation)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Quotation1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (DB Operation)1": {
      "main": [
        [
          {
            "node": "Sheets: Add Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Update Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Delete Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Add Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Update Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Delete Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Stock Operation)1": {
      "main": [
        [
          {
            "node": "Sheets: Add Stock1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Deduct1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Add Stock1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deduct1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Database/Stock1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Reply1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (GET database)": {
      "main": [
        [
          {
            "node": "Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (แก้ไขข้อมูล Customer)": {
      "main": [
        [
          {
            "node": "(Update/Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Update/Delete)": {
      "main": [
        [
          {
            "node": "อัปเดตข้อมูล (แก้ไข)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ลบข้อมูล (Delete Row)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /webhook/db-read": {
      "main": [
        [
          {
            "node": "Read Any Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhook/db-write": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Any Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Row": {
      "main": [
        [
          {
            "node": "Respond Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "main": [
        [
          {
            "node": "Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row": {
      "main": [
        [
          {
            "node": "Respond Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": "{\"executionOrder\":\"v1\",\"binaryMode\":\"separate\"}",
  "staticData": null,
  "pinData": "{\"POST /auth/login\":[{\"json\":{\"headers\":{\"host\":\"localhost:5678\",\"connection\":\"keep-alive\",\"content-length\":\"49\",\"sec-ch-ua-platform\":\"\\\"Windows\\\"\",\"user-agent\":\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36\",\"sec-ch-ua\":\"\\\"Not;A=Brand\\\";v=\\\"8\\\", \\\"Chromium\\\";v=\\\"150\\\", \\\"Brave\\\";v=\\\"150\\\"\",\"content-type\":\"application/json\",\"sec-ch-ua-mobile\":\"?0\",\"accept\":\"*/*\",\"sec-gpc\":\"1\",\"accept-language\":\"en-US,en;q=0.5\",\"origin\":\"http://localhost:5173\",\"sec-fetch-site\":\"same-site\",\"sec-fetch-mode\":\"cors\",\"sec-fetch-dest\":\"empty\",\"referer\":\"http://localhost:5173/\",\"accept-encoding\":\"gzip, deflate, br, zstd\"},\"params\":{},\"query\":{},\"body\":{\"email\":\"admin@admin.com\",\"password\":\"admin123\"},\"webhookUrl\":\"http://localhost:5678/webhook/auth/login\",\"executionMode\":\"production\"}}],\"POST /auth/register\":[{\"json\":{\"headers\":{\"host\":\"localhost:5678\",\"connection\":\"close\",\"content-length\":\"71\",\"sec-ch-ua-platform\":\"\\\"Windows\\\"\",\"user-agent\":\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36\",\"sec-ch-ua\":\"\\\"Not;A=Brand\\\";v=\\\"8\\\", \\\"Chromium\\\";v=\\\"150\\\", \\\"Brave\\\";v=\\\"150\\\"\",\"content-type\":\"application/json\",\"sec-ch-ua-mobile\":\"?0\",\"accept\":\"*/*\",\"sec-gpc\":\"1\",\"accept-language\":\"en-US,en;q=0.5\",\"origin\":\"http://localhost:5173\",\"sec-fetch-site\":\"same-origin\",\"sec-fetch-mode\":\"cors\",\"sec-fetch-dest\":\"empty\",\"referer\":\"http://localhost:5173/\",\"accept-encoding\":\"gzip, deflate, br, zstd\",\"cookie\":\"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1876bjKl1i5fc%2FrwyOln0PMQnwt%2BjY9rY4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BhNByQ06DVW2MlZAdgwPgVpREEr6XA7%2Fw%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019f1c52-da5b-7b9b-b578-9b451ca82785%22%2C%22distinct_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22%24sesid%22%3A%5B1783648681768%2C%22019f49bd-cdf7-790d-9dda-6cfee73c1e17%22%2C1783648603637%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsignin%3Fredirect%3D%25252F%22%7D%2C%22%24user_state%22%3A%22identified%22%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19VcLOCTdPGOQkPfHlIER7bzb%2FUfOz2%2BDgmJFWsUTWhPqKdjJaNW6MuQ55qjeo19sBHYkS3b%2BjmgQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18938OnNgW322%2BRwjLIFsfjo7nHm2upecHVn6c06pwJphcI9zdVOtRnRSl10oD%2B5dgbR5xApR2e6ZyPAtrNDnKdtpFT6BN6rheEWZe3FvxtY%2BxHexqXWhe7GEj3MzAY%2BZvKkwF6BGp4Mg%2FapX%2F4oMsSRTOZLDiuARU%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19Lozjzj9gPq4dt3lx4Hv9%2BTgxzUIwq8pRRK3NKG9w1wq2VwKeUIZy13%2FwVPWLh3AdyLmX%2BeHph3HGZAlqnsU43WxJHpzlQlmwa4N1hfx3B%2Bdzu%2BMjj41OHH6hrQhSN4ZiMNIxY%2F%2BWLhTSQmbUl%2FOGg0T1W7e0W6j56mduqGTtgYYxTl7RJA2UcrVxgnR6OVx7fej09wIzaeA%3D%3D; ph_phc_kMstNfAgBcBkWSh6KdsgN09heqqNe5VNmalHP1Ni9Q4_posthog=%7B%22%24device_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22distinct_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22%24sesid%22%3A%5B1783995765786%2C%22019f5e42-2f21-76cd-b057-1e9d6e206958%22%2C1783992823575%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2F%22%7D%2C%22%24user_state%22%3A%22anonymous%22%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2Bsu%2FKxnx0jsrq4imj8r04RI8iqVF4U5nHYPwHgPGPXKtLz3g7PLC238RfdF%2B8wcCVFY1IKhtsPWwuVCeN7lijR5Z1RwbN8BAx%2FwouPkg75GWBSu%2FC7keuaUzJBWmN9QGRgBKfpikxDPA%3D%3D\"},\"params\":{},\"query\":{},\"body\":{\"name\":\"kuy\",\"email\":\"test@gmail\",\"password\":\"12345678\",\"role\":\"sale\"},\"webhookUrl\":\"http://localhost:5678/webhook/auth/register\",\"executionMode\":\"production\"},\"pairedItem\":{\"item\":0}}]}",
  "versionId": "ec8584a4-2c6c-4a70-bca9-ba620323ace5",
  "triggerCount": 13,
  "meta": "{\"templateCredsSetupCompleted\":true}",
  "parentFolderId": null,
  "createdAt": "2026-07-06 08:03:29.439",
  "updatedAt": "2026-07-14 03:57:16.686",
  "isArchived": 0,
  "versionCounter": 18,
  "description": null,
  "activeVersionId": "ec8584a4-2c6c-4a70-bca9-ba620323ace5",
  "nodeGroups": "[]",
  "sourceWorkflowId": null
}