n8n-workflows/Universal Workflow.json
{
  "name": "Universal Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "settings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ce73041d-f54a-424a-9632-85faefa092e4",
      "name": "Webhook (POST Settings)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4608,
        2608
      ],
      "webhookId": "a3e7b740-8529-4d05-a6a0-135f3e24abc0"
    },
    {
      "parameters": {
        "path": "settings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "306884b8-578c-409f-b1f8-70ac1fcfe33e",
      "name": "Webhook (GET Settings)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4608,
        2416
      ],
      "webhookId": "01692a64-937b-40b7-95dc-e2f25a6a2514"
    },
    {
      "parameters": {
        "path": "stock",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "cfd11b67-6f43-4856-9374-9677d5c9786f",
      "name": "GET /stock",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3536,
        2192
      ],
      "webhookId": "f1c0eb8c-c2db-4171-97e3-fa0badf9da92"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456998607,
          "mode": "list",
          "cachedResultName": "product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=1456998607"
        },
        "options": {}
      },
      "id": "7d64844f-4b78-4bda-b80c-45af01b02e36",
      "name": "Read Products",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3328,
        2192
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "dashboard",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e78ee42f-6463-4a65-a329-0e99bdf754f2",
      "name": "GET /dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3536,
        2400
      ],
      "webhookId": "3c373a39-ddd9-49ee-9103-04aaf7323775"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "e2093208-a940-4d56-9c5c-ffb3770708e8",
      "name": "Read Customers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3328,
        2400
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "product",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c3c3decd-b7fe-49c7-9f55-a163e8f33ca0",
      "name": "Read Products Dash",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3136,
        2400
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst customers = $items(\"Read Customers\").length;\nconst products = $items(\"Read Products Dash\").length;\nreturn {\n  json: {\n    customers: customers,\n    products: products,\n    quotationsThisMonth: 0,\n    totalRevenue: 0,\n    recentQuotations: [],\n    lowStockProducts: []\n  }\n};"
      },
      "id": "9c604b59-40c2-4c63-803c-e9f4a9fa30fa",
      "name": "Calculate Dashboard KPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        2400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ba00da21-7e5a-4f93-a6b3-b396c76bb3ec",
      "name": "POST /auth/login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3536,
        2592
      ],
      "webhookId": "448bf917-9b79-4a96-b582-883d34943957"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 830073076,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=830073076"
        },
        "options": {}
      },
      "id": "6d3c74f9-6007-412e-a1c9-90d2fb1b7114",
      "name": "Read Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3328,
        2592
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $items(\"POST /auth/login\")[0].json.body;\nconst users = $input.all().map(i => i.json);\nconst user = users.find(u => u.email === body.email && u.password === body.password);\nif(user) {\n  return { json: { success: true, user: { name: user.name, email: user.email, role: user.role } } };\n} else {\n  return { json: { success: false, message: 'อีเมลหรือรหัสผ่านไม่ถูกต้อง' } };\n}\n"
      },
      "id": "f9d6712c-2a67-4572-96bf-4b942fed1797",
      "name": "Check Login Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        2592
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7ec32ebf-f8c4-451c-ab91-91589452a9c9",
      "name": "POST /auth/register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3536,
        2800
      ],
      "webhookId": "cb417ca7-bfa2-41c8-88b8-0fd9ddda7038"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 830073076,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=830073076"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id || $execution.id }}",
            "name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "password": "={{ $json.body.password }}",
            "role": "={{ $json.body.role }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "022a8747-7ebf-4eec-bb48-3337e148de9a",
      "name": "Add User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3328,
        2800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true } };"
      },
      "id": "ae7b5a3c-1a6b-4791-ac56-0c0cba4feebf",
      "name": "Register Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        2800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quotations",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e286694d-67f3-4f70-b9d2-d6c5e2899667",
      "name": "POST /quotations",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3536,
        2992
      ],
      "webhookId": "225f4c7a-0e68-4f54-abf4-645f5d9cf9af"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quotations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.body.quotation_no}}",
            "date": "={{$json.body.date}}",
            "customer": "={{$json.body.customerName || $json.body.customer.name}}",
            "total": "={{$json.body.totalAmount || $json.body.total}}",
            "status": "Completed",
            "created_by": "={{$json.body.created_by}}",
            "saved_at": "={{$json.body.saved_at}}",
            "items_json": "={{JSON.stringify($json.body.items || [])}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer",
              "displayName": "customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "saved_at",
              "displayName": "saved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "items_json",
              "displayName": "items_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "681586fb-eeaa-4abb-95fd-0faad3d8677b",
      "name": "Add Quotation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3328,
        2992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true } };"
      },
      "id": "d1811df7-ba09-437e-a580-edda5e00764b",
      "name": "Quote Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        2992
      ]
    },
    {
      "parameters": {
        "path": "init-db",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "35917d56-1232-4ad0-bcab-68cfe836637c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3536,
        1984
      ],
      "webhookId": "26c5390c-f5cb-47a6-85dc-cb9a98597691"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Users",
        "options": {}
      },
      "id": "f3dfdff7-1144-4167-b53d-861dd0fb275c",
      "name": "Create Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3328,
        1984
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Quotations",
        "options": {}
      },
      "id": "8633a217-14ef-4399-881d-7f8085d72914",
      "name": "Create Quotations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3136,
        1984
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "title": "Stock_Log",
        "options": {}
      },
      "id": "9a84498e-8a76-463b-8125-7a0ce30e0354",
      "name": "Create Stock Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2928,
        1984
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "9216981c-b1f3-444c-aafc-50eb2ae953ac",
      "name": "Webhook (AI Assistant)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2672,
        2208
      ],
      "webhookId": "ee7ef2c8-0a79-41ea-9caa-2a84b7cbd2c2",
      "notes": "รับ POST จากหน้าเว็บ React { prompt: '...' }"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือ AI Assistant ประจำระบบจัดการธุรกิจชื่อ SmartQuote\n\nคุณทำได้ทุกอย่างต่อไปนี้:\n1. ออกใบเสนอราคา (สร้าง/แก้ไขรายการสินค้า)\n2. จัดการฐานข้อมูลลูกค้า พนักงาน (เพิ่ม/ลบ/แก้ไข ทีละรายการ)\n3. จัดการสต็อกสินค้า (เพิ่ม/ตัด)\n4. จัดการฐานข้อมูลจำนวนมาก หรือ จัดการสินค้า (Products)\n5. ตอบคำถามทั่วไป\n\nกฎสำคัญ: ตอบกลับเป็น JSON เท่านั้น ห้ามมีข้อความอื่นนอก JSON block\n\nSchema ที่ต้องใช้:\n`json\n{\n  \"action\": \"quotation | database | stock | reply | frontend_db\",\n  \"message\": \"ข้อความสั้นๆ บอกผู้ใช้ว่าคุณทำอะไรไป\",\n  \"data\": {\n    // --- ถ้า action = frontend_db (ใช้เมื่อต้องเพิ่ม/แก้/ลบ 'สินค้า' (product) หรือเพิ่มข้อมูลหลายรายการพร้อมกัน) ---\n    \"table\": \"product | customer | employee\",\n    \"operation\": \"insert | update | delete\",\n    \"payload\": [\n      {\n        \"รหัส\": \"รหัสสินค้า\",\n        \"ชื่อ\": \"ชื่อสินค้า\",\n        \"ราคาขาย\": 1000,\n        \"หน่วย\": \"หน่วย\"\n      }\n    ]\n  }\n}\n`\n*หมายเหตุสำหรับ frontend_db: ถ้าเป็น table=\"customer\" ให้ใช้ key: \"รหัสลูกค้า/ผู้ขาย\", \"ชื่อลูกค้า/ผู้ขาย\", \"เบอร์โทร\", \"ที่อยู่ 1\"\n\nตัวอย่างการตีความ:\n- \"เพิ่มลูกค้าชื่อ สมชาย\" → action=\"frontend_db\", table=\"customer\", operation=\"insert\", payload=[{\"ชื่อลูกค้า/ผู้ขาย\":\"สมชาย\"}]\n- \"เพิ่มสินค้า 15 รายการ มี โน้ตบุ๊ก 1000 บาท, เมาส์ 500 บาท...\" → action=\"frontend_db\", table=\"product\", operation=\"insert\", payload=[{\"ชื่อ\":\"โน้ตบุ๊ก\",\"ราคาขาย\":1000}, {\"ชื่อ\":\"เมาส์\",\"ราคาขาย\":500}]\n- \"เพิ่มสต็อก โน้ตบุ๊ก 10 เครื่อง\" → action=\"stock\", operation=\"add\"\n- \"สร้างใบเสนอราคา\" → action=\"quotation\"\n\nคำสั่งจากผู้ใช้: {{ $json.body.prompt }}"
      },
      "id": "1f5bff5d-3cc8-41b1-ab52-b78cf05fad1b",
      "name": "Basic LLM Chain (Gemini)1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -2464,
        2208
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "98a29533-c6f8-447c-8c4e-084c4440db7b",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2464,
        2384
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5QJxUPfc6K9diAWL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "ใส่ Credential: สร้าง Google Gemini API ใหม่ แล้ววาง API Key (AQ... หรือ AIza...)"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON output จาก Gemini\ntry {\n  let raw = $input.item.json.text || $input.item.json.output || '';\n  // ลบ markdown code block ออก\n  raw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(raw);\n  return { json: parsed };\n} catch (e) {\n  return {\n    json: {\n      action: 'reply',\n      message: 'ขออภัยครับ ผมไม่สามารถประมวลผลคำสั่งได้ในตอนนี้ กรุณาลองใหม่อีกครั้ง',\n      data: null\n    }\n  };\n}"
      },
      "id": "f0b6e2b1-b53a-406f-a4e7-670158bffd44",
      "name": "Parse AI Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        2208
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "quotation"
            },
            {
              "value2": "database",
              "output": 1
            },
            {
              "value2": "stock",
              "output": 2
            },
            {
              "value2": "reply",
              "output": 3
            },
            {
              "value2": "frontend_db",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "bf547cd1-287d-4ab6-bd08-d30159384399",
      "name": "Router (Action Type)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1952,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "3ab697e9-c2ab-463d-ad58-4be2155777f1",
      "name": "Respond: Quotation1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        1856
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.operation }}",
        "rules": {
          "rules": [
            {
              "value2": "add"
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "390f0986-a8c8-4a21-baff-dcd3caef0eac",
      "name": "Router (DB Operation)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1600,
        2144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสลูกค้า/ผู้ขาย": "={{ $json.data.payload.id || $execution.id }}",
            "ชื่อลูกค้า/ผู้ขาย": "={{ $json.data.payload.name }}",
            "โทรศัพท์": "={{ $json.data.payload.phone }}",
            "อีเมล": "={{ $json.data.payload.email }}",
            "ที่อยู่ 1": "={{ $json.data.payload.address }}",
            "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย": "={{ $json.data.payload.taxId }}",
            "หมายเหตุ": "={{ $json.data.payload.remark }}",
            "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย": "={{ $json.data.payload['ชื่อกลุ่มระดับลูกค้า/ผู้ขาย'] || $json.data.payload.type || $json.data.payload.Type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7eb86272-5baa-41e0-a622-7e7a91abeecd",
      "name": "Sheets: Add Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -960,
        2032
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "เพิ่มแถวใหม่ในชีตลูกค้าหรือพนักงาน (ตาม table ที่ AI ระบุ)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ชื่อลูกค้า/ผู้ขาย": "={{ $json.data.payload.name }}",
            "โทรศัพท์": "={{ $json.data.payload.phone }}",
            "อีเมล": "={{ $json.data.payload.email }}",
            "ที่อยู่ 1": "={{ $json.data.payload.address }}",
            "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย": "={{ $json.data.payload.taxId }}",
            "หมายเหตุ": "={{ $json.data.payload.remark }}",
            "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย": "={{ $json.data.payload['ชื่อกลุ่มระดับลูกค้า/ผู้ขาย'] || $json.data.payload.type || $json.data.payload.Type }}"
          },
          "matchingColumns": [
            "ชื่อลูกค้า/ผู้ขาย"
          ],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1665d8cf-4a25-4340-8688-38e156e677a7",
      "name": "Sheets: Update Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -960,
        2192
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "อัปเดตแถวที่ตรงกับรหัส ID"
    },
    {
      "parameters": {
        "jsCode": "// กรองเฉพาะแถวที่ตรงกับชื่อที่ AI ระบุมา แล้วลบแค่ 1 แถวเท่านั้น\nconst allRows = $input.all().map(i => i.json);\n\n// ดึงข้อมูล payload จาก Router (DB Operation)1\nconst routerData = $('Router (DB Operation)1').first().json;\nconst payload = routerData.data.payload;\nconst targetName = (payload.name || '').toString().trim().toLowerCase();\nconst targetId = (payload.id || '').toString().trim().toLowerCase();\n\nif (!targetName && !targetId) {\n  throw new Error('ไม่พบชื่อหรือรหัสที่ต้องการลบ');\n}\n\n// ค้นหาแถวที่ตรงกับชื่อหรือรหัส\nlet matchedRow = null;\n\n// 1. ค้นหาจากรหัส (exact match)\nif (targetId) {\n  matchedRow = allRows.find(row => {\n    const rowId = (row['รหัสลูกค้า/ผู้ขาย'] || '').toString().trim().toLowerCase();\n    return rowId === targetId;\n  });\n}\n\n// 2. ค้นจากชื่อ (exact match ก่อน แล้วค่อย includes)\nif (!matchedRow && targetName) {\n  // exact match ก่อน\n  matchedRow = allRows.find(row => {\n    const rowName = (row['ชื่อลูกค้า/ผู้ขาย'] || '').toString().trim().toLowerCase();\n    return rowName === targetName;\n  });\n  // ถ้าไม่เจอ exact ให้ลอง includes\n  if (!matchedRow) {\n    matchedRow = allRows.find(row => {\n      const rowName = (row['ชื่อลูกค้า/ผู้ขาย'] || '').toString().trim().toLowerCase();\n      return rowName.includes(targetName) || targetName.includes(rowName);\n    });\n  }\n}\n\nif (!matchedRow) {\n  const searchTerm = targetName || targetId;\n  throw new Error('ไม่พบข้อมูล \"' + searchTerm + '\" ในระบบ กรุณาตรวจสอบชื่อหรือรหัสอีกครั้ง');\n}\n\n// row_number จาก Google Sheets (1-indexed) -> startIndex (0-indexed)\nconst deleteIndex = matchedRow.row_number; // ใช้ค่า row_number ได้เลย ไม่ต้องลบ 1 เพราะ n8n ใช้เป็นเลขแถวตรงๆ\n\nreturn [{\n  json: {\n    row_number: deleteIndex,\n    deleted_name: matchedRow['ชื่อลูกค้า/ผู้ขาย'] || matchedRow['รหัสลูกค้า/ผู้ขาย']\n  }\n}];"
      },
      "id": "160f613b-15de-40e1-a612-2ee2dc783c2d",
      "name": "Filter Row to Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        2352
      ],
      "notes": "กรองเฉพาะแถวที่ตรงชื่อ แล้วส่งไปลบแค่ 1 แถว"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "id": "257b2d21-f222-4940-96e4-39639277e28a",
      "name": "Sheets: Delete Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -752,
        2352
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "ลบแถวที่กรองแล้วจาก Filter Row to Delete"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.operation }}",
        "rules": {
          "rules": [
            {
              "value2": "add"
            },
            {
              "value2": "deduct",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "16c5caec-969f-4d4e-956e-d167b51a3273",
      "name": "Router (Stock Operation)1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1600,
        2368
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456998607,
          "mode": "list",
          "cachedResultName": "product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=1456998607"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "รหัส"
          ],
          "schema": [
            {
              "id": "รหัส",
              "displayName": "รหัส",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อ",
              "displayName": "ชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อจำเพราะ",
              "displayName": "ชื่อจำเพราะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หน่วย",
              "displayName": "หน่วย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า",
              "displayName": "ประเภทสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทสินค้า2",
              "displayName": "ประเภทสินค้า2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาซื้อ",
              "displayName": "ราคาซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ราคาขาย",
              "displayName": "ราคาขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีซื้อ",
              "displayName": "อัตราภาษีซื้อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อัตราภาษีขาย",
              "displayName": "อัตราภาษีขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "บาร์โค๊ด",
              "displayName": "บาร์โค๊ด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ครีเวิด",
              "displayName": "ครีเวิด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จำกัดจำนวน",
              "displayName": "จำกัดจำนวน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "แบรนด์",
              "displayName": "แบรนด์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "กลุ่มสินค้า",
              "displayName": "กลุ่มสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้แก้ไขล่าสุด",
              "displayName": "ผู้แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ1",
              "displayName": "หมายเหตุ1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "หมายเหตุ2",
              "displayName": "หมายเหตุ2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "_action",
              "displayName": "_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_sheet",
              "displayName": "_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_idKey",
              "displayName": "_idKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ee58f52e-cd7e-4f3a-a6be-591d3cc4dfb0",
      "name": "Sheets: Add Stock1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -960,
        2528
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      },
      "notes": "เพิ่มสต็อก - ปรับชื่อคอลัมน์ให้ตรงกับชีตสินค้าของคุณ"
    },
    {
      "parameters": {
        "jsCode": "// ตัดสต็อก — อ่านค่าเดิม แล้วลบออก\n// หมายเหตุ: ในงานจริงต้องอ่านค่าปัจจุบันก่อน แล้วค่อยคำนวณ\n// นี่เป็น Logic ตัวอย่าง สามารถปรับให้ Read ก่อน Update ได้\nconst productName = $json.data.productName;\nconst amount = $json.data.amount;\nreturn {\n  json: {\n    ...$json,\n    deductInfo: {\n      productName,\n      amount,\n      note: `ตัดสต็อก ${amount} ${$json.data.unit || 'ชิ้น'} เมื่อ ${new Date().toLocaleString('th-TH')}`\n    }\n  }\n};"
      },
      "id": "39ee9587-b9ac-4ef4-b1b2-38330f7b9042",
      "name": "Prepare Deduct1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        2704
      ]
    },
    {
      "parameters": {
        "jsCode": "// รวม response จากทุก branch กลับมาเป็น format เดียวกัน\n// และส่งกลับไปหน้าเว็บ React\nconst input = $input.item.json;\n\n// ถ้ามาจาก Google Sheets node จะมี updatedRows หรือ appendedRow\nconst originalAction = input.action || 'database';\nconst originalMsg = input.message || 'ดำเนินการเรียบร้อยแล้วครับ ✅';\n\nreturn {\n  json: {\n    action: originalAction,\n    message: originalMsg,\n    data: input.data || null\n  }\n};"
      },
      "id": "da19a92e-39cb-41bf-93c1-84443e54352a",
      "name": "Respond: Database/Stock1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        2192
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.item.json;\nreturn {\n  json: {\n    action: payload.action || 'reply',\n    message: payload.message || 'ดำเนินการเรียบร้อยครับ ✅',\n    data: payload.data || {}\n  }\n};"
      },
      "id": "88388620-297e-4625-a5db-51882bb9e812",
      "name": "Respond: Reply1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        2640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "36bd1b9d-25f7-48e3-b3bf-329b39b9b197",
      "name": "Send Response to React1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -384,
        2192
      ]
    },
    {
      "parameters": {
        "path": "project",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "164987e4-6995-48f8-8d1b-6759392fce7a",
      "name": "Webhook (GET database)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4608,
        2816
      ],
      "webhookId": "84d9b089-22d0-4d17-b1d9-e8a48e34ae7d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "id": "c352212a-0b7a-423a-ba0d-633bd327e9da",
      "name": "Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4416,
        2816
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "startIndex": "={{ $json.body.data.rowNumber }}"
      },
      "id": "00091757-aa6b-4991-bb0d-dcaf06e5dd2a",
      "name": "ลบข้อมูล (Delete Row)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4160,
        2176
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "database-action",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c8c760c3-4169-4030-ac3d-b0e42bc4c11d",
      "name": "Webhook (แก้ไขข้อมูล Customer)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4608,
        2192
      ],
      "webhookId": "a148f252-df0c-4a9f-ab7c-067eb6d95b6f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "update"
            },
            {
              "value2": "delete",
              "output": 1
            }
          ]
        }
      },
      "id": "8410fa62-cbad-4c81-b0d3-c73c96b3f0bf",
      "name": "(Update/Delete)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -4416,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสลูกค้า/ผู้ขาย": "={{ $json.body.data.id }}",
            "ชื่อลูกค้า/ผู้ขาย": "={{ $json.body.data.name }}",
            "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย": "={{ $json.body.data.taxId }}",
            "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย": "={{ $json.body.data['ชื่อกลุ่มระดับลูกค้า/ผู้ขาย'] || $json.body.data.type || $json.body.data.Type }}",
            "ผู้ติดต่อ": "={{ $json.body.data.contact }}",
            "โทรศัพท์": "={{ $json.body.data.phone }}",
            "อีเมล": "={{ $json.body.data.email }}",
            "ที่อยู่ 1": "={{ $json.body.data.address }}",
            "อำเภอ": "={{ $json.body.data.district }}",
            "จังหวัด": "={{ $json.body.data.province }}",
            "เครดิต (วัน)": "={{ $json.body.data.credit }}",
            "วงเงิน": "={{ $json.body.data.limit }}",
            "หมายเหตุ": "={{ $json.body.data.remark }}"
          },
          "matchingColumns": [
            "รหัสลูกค้า/ผู้ขาย"
          ],
          "schema": [
            {
              "id": "รหัสลูกค้า/ผู้ขาย",
              "displayName": "รหัสลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อลูกค้า/ผู้ขาย",
              "displayName": "ชื่อลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัส PIC",
              "displayName": "รหัส PIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "displayName": "เลขประจำตัวผู้เสียภาษีอากรของลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "displayName": "ชื่อกลุ่มระดับลูกค้า/ผู้ขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ",
              "displayName": "ผู้ติดต่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ที่อยู่ 1",
              "displayName": "ที่อยู่ 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "โทรศัพท์",
              "displayName": "โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายชื่อผู้ติดต่อทั้งหมด",
              "displayName": "รายชื่อผู้ติดต่อทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "หมายเหตุ",
              "displayName": "หมายเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่สร้าง",
              "displayName": "วันที่สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ผู้สร้าง",
              "displayName": "ผู้สร้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "วันที่แก้ไขล่าสุด",
              "displayName": "วันที่แก้ไขล่าสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "อำเภอ",
              "displayName": "อำเภอ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "จังหวัด",
              "displayName": "จังหวัด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ลูกค้าในประเทศ/ต่างประเทศ",
              "displayName": "ลูกค้าในประเทศ/ต่างประเทศ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "แหล่งที่มาชื่อ",
              "displayName": "แหล่งที่มาชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เขตการขาย",
              "displayName": "เขตการขาย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เครดิต (วัน)",
              "displayName": "เครดิต (วัน)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วงเงิน",
              "displayName": "วงเงิน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทอุตสาหกรรมชื่อ",
              "displayName": "ประเภทอุตสาหกรรมชื่อ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อบริษัท (เพิ่มเติม)",
              "displayName": "ชื่อบริษัท (เพิ่มเติม)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sales RemarB",
              "displayName": "Sales RemarB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f57621ca-161b-444b-9c95-7909bd6b9483",
      "name": "อัปเดตข้อมูล (แก้ไข)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4160,
        2016
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit?gid=1837646820#gid=1837646820",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940827542,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=940827542"
        },
        "options": {}
      },
      "id": "a6f5c6d8-4dd1-42f9-87e8-94d9532df859",
      "name": "ดึงข้อมูลการตั้งค่า",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4416,
        2416
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit?gid=1837646820#gid=1837646820",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940827542,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=940827542"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "1",
            "Company Name": "={{ $json.body.companyName }}",
            "Tax ID": "={{ $json.body.companyTaxId }}",
            "Address": "={{ $json.body.companyAddress }}",
            "Phone": "={{ $json.body.companyPhone }}",
            "Logo URL": "={{ $json.body.companyLogo }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo URL",
              "displayName": "Logo URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3354a1d9-19cf-4ebc-bff3-8226cf491967",
      "name": "อัปเดตการตั้งค่า",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4416,
        2608
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "db-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "816cb2c1-a88f-44dc-ac4b-dabe353d1d7f",
      "name": "GET /webhook/db-read",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4608,
        3024
      ],
      "webhookId": "3c978f78-b80b-4aa8-ab3e-4f4c5b4fea11"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.query.sheet }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "4b81495a-9220-48e0-be2b-4c169cfb12db",
      "name": "Read Any Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -4400,
        3024
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-write",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c09b13b0-825f-4602-9a31-73a89cc3e3e1",
      "name": "POST /webhook/db-write",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4608,
        3216
      ],
      "webhookId": "0608d664-4f38-4d4b-a454-bb67bd75c8dc"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const body = item.json.body;\n  const cleanData = { ...body.data };\n  delete cleanData._rawRowNumber;\n  return {\n    json: {\n      _action: body.action,\n      _sheet: body.sheet,\n      _idKey: body.idKey || 'id',\n      ...cleanData\n    }\n  };\n});"
      },
      "id": "76924d6a-6023-4737-ba76-0e9070f953ac",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4416,
        3216
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"_action\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "insert"
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        }
      },
      "id": "8f44b600-bfd8-4154-ab83-70a72060693e",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -4240,
        3216
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"_sheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "22e5f93b-4c67-4c7f-b5f8-b66a7a57d5c1",
      "name": "Insert Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3984,
        3072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"_sheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "={{ $json[\"_idKey\"] }}"
          ],
          "schema": [
            {
              "id": "={{ $json[\"_idKey\"] }}",
              "displayName": "={{ $json[\"_idKey\"] }}",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "683e3ad8-1c69-45b6-90fd-6c4377258008",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3984,
        3216
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"_sheet\"] }}",
          "mode": "name"
        },
        "startIndex": "={{ $json[\"row_number\"] }}"
      },
      "id": "adf03626-f5dc-4a11-95be-9d8e7c1fa05c",
      "name": "Delete Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3984,
        3376
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -4192,
        3024
      ],
      "id": "67f61a7d-3962-45ff-b68a-c961ce336c2b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c963c91-4e0a-4fee-b145-8bf5c852e02d",
      "name": "Respond Insert",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3744,
        3072
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6dac80e6-587e-4d34-a008-972f6b82b9ee",
      "name": "Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3744,
        3216
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "51f0233e-c462-498f-b4ac-e52a05949571",
      "name": "Respond Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3744,
        3376
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "adf2a5ff-ebc2-46f3-9049-49564f1eb1e0",
      "name": "Sheets: Get Customers for ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1376,
        2032
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst payload = $items(\"Router (DB Operation)1\")[0].json.data.payload;\nconst customers = $input.all().map(i => i.json);\n\nconst groupValue = (payload.type || '').toString().toLowerCase();\nlet firstChar = 'C'; \nif (groupValue.includes('vender') || groupValue.includes('vendor')) {\n  firstChar = 'P';\n} else if (groupValue.includes('credit')) {\n  firstChar = 'C';\n}\n\nconst nameValue = (payload.name || '').toString();\n\nconst getEnglishInitial = (text) => {\n  let cleanText = text.replace(/^(บริษัท|บจก\\.|บมจ\\.|หจก\\.|ห้างหุ้นส่วนจำกัด|ร้าน)\\s*/g, '').trim();\n  if (!cleanText) cleanText = text;\n  \n  const engMatch = cleanText.match(/[a-zA-Z]/);\n  if (engMatch) return engMatch[0].toUpperCase();\n  \n  const consonantMatch = cleanText.match(/[ก-ฮ]/);\n  if (consonantMatch) {\n    const map = {\n      'ก':'K','ข':'K','ฃ':'K','ค':'K','ฅ':'K','ฆ':'K','ง':'N','จ':'J',\n      'ฉ':'C','ช':'C','ซ':'S','ฌ':'C','ญ':'Y','ฎ':'D','ฏ':'T','ฐ':'T',\n      'ฑ':'T','ฒ':'T','ณ':'N','ด':'D','ต':'T','ถ':'T','ท':'T','ธ':'T',\n      'น':'N','บ':'B','ป':'P','ผ':'P','ฝ':'F','พ':'P','ฟ':'F','ภ':'P',\n      'ม':'M','ย':'Y','ร':'R','ล':'L','ว':'W','ศ':'S','ษ':'S','ส':'S',\n      'ห':'H','ฬ':'L','อ':'O','ฮ':'H'\n    };\n    return map[consonantMatch[0]] || 'X';\n  }\n  return 'X';\n};\n\nconst secondChar = getEnglishInitial(nameValue);\nconst prefix = `${firstChar}${secondChar}`;\nlet maxNum = 0;\n\ncustomers.forEach(row => {\n  const existingId = (row['รหัสลูกค้า/ผู้ขาย'] || row['id'] || '').toString();\n  if (existingId.startsWith(prefix)) {\n    const numPart = existingId.substring(2);\n    const num = parseInt(numPart, 10);\n    if (!isNaN(num) && num > maxNum) {\n      maxNum = num;\n    }\n  }\n});\n\nconst nextNum = (maxNum + 1).toString().padStart(3, '0');\nconst finalId = `${prefix}${nextNum}`;\n\npayload.id = finalId;\n\nreturn [{\n  json: {\n    data: {\n      payload: payload,\n      table: \"customers\",\n      operation: \"add\"\n    }\n  }\n}];\n"
      },
      "id": "cd30a923-3322-4c98-a5c0-da81f542cc0a",
      "name": "Code: Generate ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        2032
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk/edit#gid=0"
        },
        "options": {}
      },
      "id": "03e1bed2-a78a-4c67-a258-10df4a3a6412",
      "name": "Sheets: Find Row to Delete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1152,
        2352
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "quotations-history",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "198d8a73-d8aa-448a-8fc1-7aa56a081f60",
      "name": "Webhook (Get Quotations)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2464,
        1888
      ],
      "webhookId": "4de15620-0a7d-445f-8810-b747d5f0f366"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MepEshscXwfuq-KHI1IXIIX5xXCPhAptQRKOaX3Bwvk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quotations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "955bd004-ff45-464e-889b-09a1f63a2e6b",
      "name": "Google Sheets (Read Quotations)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2272,
        1888
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uZ7NI5YtrFpJkJ1b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "05fa8d61-0655-4cbb-a8aa-6e1b13fdb129",
      "name": "Respond to Webhook (Get Quote)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2064,
        1888
      ]
    }
  ],
  "pinData": {
    "POST /auth/login": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "49",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"8\", \"Chromium\";v=\"150\", \"Brave\";v=\"150\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "en-US,en;q=0.5",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "admin@admin.com",
            "password": "admin123"
          },
          "webhookUrl": "http://localhost:5678/webhook/auth/login",
          "executionMode": "production"
        }
      }
    ],
    "POST /auth/register": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "close",
            "content-length": "71",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"8\", \"Chromium\";v=\"150\", \"Brave\";v=\"150\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "en-US,en;q=0.5",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1876bjKl1i5fc%2FrwyOln0PMQnwt%2BjY9rY4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BhNByQ06DVW2MlZAdgwPgVpREEr6XA7%2Fw%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019f1c52-da5b-7b9b-b578-9b451ca82785%22%2C%22distinct_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22%24sesid%22%3A%5B1783648681768%2C%22019f49bd-cdf7-790d-9dda-6cfee73c1e17%22%2C1783648603637%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsignin%3Fredirect%3D%25252F%22%7D%2C%22%24user_state%22%3A%22identified%22%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19VcLOCTdPGOQkPfHlIER7bzb%2FUfOz2%2BDgmJFWsUTWhPqKdjJaNW6MuQ55qjeo19sBHYkS3b%2BjmgQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18938OnNgW322%2BRwjLIFsfjo7nHm2upecHVn6c06pwJphcI9zdVOtRnRSl10oD%2B5dgbR5xApR2e6ZyPAtrNDnKdtpFT6BN6rheEWZe3FvxtY%2BxHexqXWhe7GEj3MzAY%2BZvKkwF6BGp4Mg%2FapX%2F4oMsSRTOZLDiuARU%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19Lozjzj9gPq4dt3lx4Hv9%2BTgxzUIwq8pRRK3NKG9w1wq2VwKeUIZy13%2FwVPWLh3AdyLmX%2BeHph3HGZAlqnsU43WxJHpzlQlmwa4N1hfx3B%2Bdzu%2BMjj41OHH6hrQhSN4ZiMNIxY%2F%2BWLhTSQmbUl%2FOGg0T1W7e0W6j56mduqGTtgYYxTl7RJA2UcrVxgnR6OVx7fej09wIzaeA%3D%3D; ph_phc_kMstNfAgBcBkWSh6KdsgN09heqqNe5VNmalHP1Ni9Q4_posthog=%7B%22%24device_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22distinct_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22%24sesid%22%3A%5B1783995765786%2C%22019f5e42-2f21-76cd-b057-1e9d6e206958%22%2C1783992823575%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2F%22%7D%2C%22%24user_state%22%3A%22anonymous%22%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2Bsu%2FKxnx0jsrq4imj8r04RI8iqVF4U5nHYPwHgPGPXKtLz3g7PLC238RfdF%2B8wcCVFY1IKhtsPWwuVCeN7lijR5Z1RwbN8BAx%2FwouPkg75GWBSu%2FC7keuaUzJBWmN9QGRgBKfpikxDPA%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "kuy",
            "email": "test@gmail",
            "password": "12345678",
            "role": "sale"
          },
          "webhookUrl": "http://localhost:5678/webhook/auth/register",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook (AI Assistant)1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "close",
            "content-length": "266",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"8\", \"Chromium\";v=\"150\", \"Brave\";v=\"150\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "bypass-tunnel-reminder": "true",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "en-US,en;q=0.5",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "same-origin",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1876bjKl1i5fc%2FrwyOln0PMQnwt%2BjY9rY4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BhNByQ06DVW2MlZAdgwPgVpREEr6XA7%2Fw%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019f1c52-da5b-7b9b-b578-9b451ca82785%22%2C%22distinct_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22%24sesid%22%3A%5B1783648681768%2C%22019f49bd-cdf7-790d-9dda-6cfee73c1e17%22%2C1783648603637%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsignin%3Fredirect%3D%25252F%22%7D%2C%22%24user_state%22%3A%22identified%22%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FQFYHFzQSPirXn4A3tk4J4Tt1uksKKd6D05D%2BRgtHZytMZJFX8Tz85lv%2FhWViqsQkiQ0DMJyHycA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19NCoepTjFibYGlGDvNGoZolZOY0sVLCJbkWd35p8fNtGwIcCHBfZUV4tKnny23iQG0hZYvc%2FRdyhjShswtJbvOddvnyguGyhYlr4gpXuomqWkA6l7x%2BAUWyCzpq%2BG4dKKhuZ96TfReA6MWoQqz4kblxxyUzOO%2F7DA%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19slTtSOVCkpXkyvDQFZWWSepQiB1mvADp6uzJGpZJEVIL9VpG7ie2gC6qetkLiQWgyFPPGyq56oNFo0uvzNGahhwmSUyTmiZDWGpSc%2FCBocf4g4YemChe98C%2BPZN4i%2FoImAB%2BnYRjPAHGKVGZbRfrXf7hXy%2FQoOlcRo1Ccmq1tALq5fsg5iI3KyfF5akM1EK4et10Wq5UE%2Fg%3D%3D; ph_phc_kMstNfAgBcBkWSh6KdsgN09heqqNe5VNmalHP1Ni9Q4_posthog=%7B%22%24device_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22distinct_id%22%3A%229b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113%238164cc8d-c552-4832-916a-bd8abf305e37%22%2C%22%24sesid%22%3A%5B1784111775872%2C%22019f6522-3661-7f78-b96c-d9ea336d9930%22%2C1784108168800%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2F%22%7D%2C%22%24user_state%22%3A%22anonymous%22%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19JrIytrDLktxrF8FPbpAC%2BDYSBnvf9nXq06NEhIcLUHkeOasxLwvoDiJajeBLv3stw8UZ%2BmWOBegU6%2BDZmd1YtQTId%2FeN5k%2FFOEudSRrDGAmi7cBIoACU7WbYJtD5jcLDkbINDiszVnA%3D%3D"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt": "แก้ไขข้อมูลของ บริษัท ฮาจัดๆ โดยให้เพิ่ม เบอร์โทรเป็น 1010101010 และปรับ กลุ่มระดับลูกค้า เป็น Vender"
          },
          "webhookUrl": "http://localhost:5678/webhook/ai-assistant",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook (GET Settings)": {
      "main": [
        [
          {
            "node": "ดึงข้อมูลการตั้งค่า",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST Settings)": {
      "main": [
        [
          {
            "node": "อัปเดตการตั้งค่า",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /stock": {
      "main": [
        [
          {
            "node": "Read Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /dashboard": {
      "main": [
        [
          {
            "node": "Read Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Customers": {
      "main": [
        [
          {
            "node": "Read Products Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Products Dash": {
      "main": [
        [
          {
            "node": "Calculate Dashboard KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /auth/login": {
      "main": [
        [
          {
            "node": "Read Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users": {
      "main": [
        [
          {
            "node": "Check Login Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /auth/register": {
      "main": [
        [
          {
            "node": "Add User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add User": {
      "main": [
        [
          {
            "node": "Register Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /quotations": {
      "main": [
        [
          {
            "node": "Add Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Quotation": {
      "main": [
        [
          {
            "node": "Quote Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Users": {
      "main": [
        [
          {
            "node": "Create Quotations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quotations": {
      "main": [
        [
          {
            "node": "Create Stock Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (AI Assistant)1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain (Gemini)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain (Gemini)1": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain (Gemini)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "Router (Action Type)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Action Type)1": {
      "main": [
        [
          {
            "node": "Respond: Quotation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router (DB Operation)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router (Stock Operation)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (DB Operation)1": {
      "main": [
        [
          {
            "node": "Sheets: Get Customers for ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Update Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Find Row to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Add Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Update Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Delete Row1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Stock Operation)1": {
      "main": [
        [
          {
            "node": "Sheets: Add Stock1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Deduct1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Add Stock1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deduct1": {
      "main": [
        [
          {
            "node": "Respond: Database/Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Database/Stock1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Reply1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (GET database)": {
      "main": [
        [
          {
            "node": "Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (แก้ไขข้อมูล Customer)": {
      "main": [
        [
          {
            "node": "(Update/Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Update/Delete)": {
      "main": [
        [
          {
            "node": "อัปเดตข้อมูล (แก้ไข)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ลบข้อมูล (Delete Row)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /webhook/db-read": {
      "main": [
        [
          {
            "node": "Read Any Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhook/db-write": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Any Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Row": {
      "main": [
        [
          {
            "node": "Respond Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "main": [
        [
          {
            "node": "Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row": {
      "main": [
        [
          {
            "node": "Respond Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Get Customers for ID": {
      "main": [
        [
          {
            "node": "Code: Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generate ID": {
      "main": [
        [
          {
            "node": "Sheets: Add Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Find Row to Delete": {
      "main": [
        [
          {
            "node": "Filter Row to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Row to Delete": {
      "main": [
        [
          {
            "node": "Sheets: Delete Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Quotation1": {
      "main": [
        [
          {
            "node": "Send Response to React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Get Quotations)": {
      "main": [
        [
          {
            "node": "Google Sheets (Read Quotations)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Read Quotations)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Get Quote)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8cf4802-5468-4627-b201-630b979ce935",
  "meta": {
    "instanceId": "9b9d3148ecc4dc5db52cdb82946e6bceeafb35f3f7da0f61a7e079618eddb113"
  },
  "nodeGroups": [],
  "id": "OPU6VMO6D8mcyA7S",
  "tags": []
}